version: '3.8'

services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    tty: true
    stdin_open: true
    volumes:
      - ..:/workspaces:cached
    network_mode: service:db

  db:
    image: mysql:8.0
    restart: always
    environment:
      MYSQL_DATABASE: mon_app_db
      MYSQL_ROOT_PASSWORD: rootpassword
    ports:
      - "3306:3306"